{% extends "layout.html" %}
{% block title %}安吉高山白茶|白茶知识库管理{% endblock %}
{% block head %}
<script src="{{url_for('static', filename='js/xheditor-1.1.6-zh-cn.min.js')}}" type="text/javascript"></script>
{% endblock %}

{% block content %}
<div class="post">
	<h1><a href="/admin">后台管理</a> - 知识库 - 增加</h1>
	<form method="POST" action="/admin/wiki/{{wiki.id}}">
		<p>用户<br/><input style="width:200px;" type="text" name="name" value="{{user.name}}" /></p>
		<p>E-mail<br/><input style="width:200px;" type="text" name="email" value="{{user.email}}" /></p>
		
		<p>标题<br/><input style="width:350px;" type="text" name="title" value="{{wiki.title}}"/></p>
		<p>原文url<br/><input style="width:350px;" type="text" name="repost"  {%if wiki.repost%}value="{{wiki.repost}}"{%endif%}/></p>
		<p>图片url<br/><input style="width:350px;" type="text" name="image"  value="{{wiki.image}}"/></p>
		<p>内容<br/><textarea id="elm4" name="content" class="xheditor-mini" rows="30" cols="80">{{wiki.content}}</textarea></p>
		
		<p><input type="submit" value="修改"/></p>
	</form>
</div>
{% endblock%}
