{% extends "layout.html" %}
{% block title %}安吉高山白茶|购买咨询{% endblock %}
{% block content %}
<div class="post">
	<h1>购买咨询</h1>
	<p><strong>北京联系人</strong><br/>
	张丹: 18611314197<br/>
	QQ: 86152615<br/>
	E-mail: bsspirit@gmail.com<br/>
	</p>
					
	<p><strong>安吉联系人</strong><br/>
	陈小英: 15088374733<br/>
	QQ: 664750263<br/> 
	</p>
</div>

<div class="post">
	<h1>常见问题</h1>
	<p><strong>1. 可以参观茶山吗？</strong><br/>
	我们是自家的茶山，如果您准备订购100斤以上，欢迎您来参观，请和安吉联系人约时间看茶园。<br/>
	</p>
	
	<p><strong>2. 白茶都是今年刚摘的吗？</strong><br/>
	是的，都是今年的新茶。分为清明前，清明后，谷雨前，谷雨后。<br/>
	</p>
	
	<p><strong>3. 2011年的安吉高山白茶多少钱1斤？</strong><br/>
	我们是高山茶园，自产自销，价钱从200元到2000元不等。<br/>
	</p>
	
	<p><strong>4. 我在广州可以邮寄吗？</strong><br/>
	当然可以，请您写清地址，快递会送货上门。<br/>
	</p>
</div>
{% endblock%}
