{% extends "layout.html" %}
{% block title %}龙仙山安吉白茶|品味白茶{% endblock %}
{% block content %}
<div class="post">
	<h1>安吉高山白茶 -- 品茶</h1>
	<p>作者 <a>张丹</a> <a href="#">bsspirit@gmail.com</a></p>
	<p><strong>观色</strong> -- 
	白茶鲜叶越饱满丰腴，白化程度越强；干茶越显金黄，品质越高。
	</p>
	
	<p><strong>闻香</strong> -- 
	郁香是白茶的一大特色，无论是干茶还是冲泡后的茶汤，郁香如兰，香味越持久，品质越高。
	</p>
	
	<p><strong>赏奇</strong> -- 
	用95度左右开水冲泡，三分钟许，白茶舒展，还原呈玉白色，叶片莹薄透明，叶脉翠绿，枝茶匀称成朵；朵朵白色似镶翡翠之白玉，颗颗白玉卧底，汤色鹅黄明澈。
	</p>
	
	<p><strong>品评</strong> -- 
	细细品味，香气馥郁，甘味生津，唇齿留香。
	</p>
	
	<p><strong>添水</strong> -- 
	待茶汤饮至三分之一，添加开水再饮，其味不变，一般冲饮三次为宜。
	</p>
	
	<p><img width="480px" src="http://1.100rmb.sinaapp.com/img/10.jpg" alt="安吉高山白茶" title="安吉高山白茶"/></p>
	<p class="post-footer align-right">					
		<span class="date">2011年4月3日</span>	
	</p>
</div>

<div class="post">
	<h1>安吉高山白茶 -- 冲泡前的准备</h1>
	<p>作者 <a>张丹</a> <a href="#">bsspirit@gmail.com</a></p>
	
	<p><strong>茶叶选择</strong> -- 
	要选择一芽一叶初展，干茶翠绿鲜活略带金黄色，香气清高鲜爽，外形细秀、匀整的优质安吉白茶。
	</p>
	
	<p><strong>泡茶用水</strong> -- 
	冲泡安吉白茶选用境内黄浦江源头水是最佳选择。由于安吉白茶原料细嫩，叶张较薄，所以冲泡时水温不宜太高，一般掌握在80－85℃为宜。
	</p>
	
	<p><strong>茶具</strong> -- 	冲泡安吉白茶选用透明玻璃杯或透明玻璃盖碗。通过玻璃杯可以尽情地欣赏安吉白茶在水中千姿百态，品其味、闻其香，更能观其叶白脉翠的独特品格。除冲泡杯外，冲泡安吉白茶还需要备有：玻璃冲水壶，观水瓶、竹制的本色茶盘，茶托、茶荷、茶匙、茶枝、茶巾和白色瓷质漂盘等器具。
	</p>
	
	<p><img width="480px" src="http://1.100rmb.sinaapp.com/img/12.jpg" alt="安吉高山白茶" title="安吉高山白茶"/></p>
	<p class="post-footer align-right">					
		<span class="date">2011年4月4日</span>	
	</p>
</div>

<div class="post">
	<h1>安吉高山白茶 -- 冲泡</h1>
	<p>作者 <a>张丹</a> <a href="#">bsspirit@gmail.com</a></p>
	
	<p><strong>备具</strong> -- 将安吉白茶冲泡时的用具逐一端到表演台上。</p>
	<p><strong>备水</strong> -- 将沸水倒在玻璃壶中备用。</p>
	<p><strong>观水</strong> -- 取黄浦江源头水，高冲于观水瓶中，再插入白茶鲜叶枝条，泉水清彻，枝条在水中漂浮，给人以动感。</p>
	<p><strong>赏鲜叶</strong> -- 安吉白茶鲜叶形似兰花，叶肉玉白，叶脉翠绿，鲜活欲出。</p>
	<p><strong>温杯</strong> -- 倒入少许开水于茶杯中，茶艺小姐双手捧杯，转旋后将水倒于孟。</p>
	<p><strong>置茶</strong> -- 用茶匙取安吉白茶少许置放在茶荷中，然后向每个杯中投入3克左右白茶。</p>
	<p><strong>浸润泡</strong> -- 提举冲水壶将水沿杯壁冲入杯中，水量约为杯子的四分之一，目的是浸润茶叶使其初步展开。</p>	
	
	<p><img width="480px" src="http://1.100rmb.sinaapp.com/img/11.jpg" alt="安吉高山白茶" title="安吉高山白茶"/></p>
	<p class="post-footer align-right">					
		<span class="date">2011年4月4日</span>	
	</p>
</div>
{% endblock%}
