{% extends "layout.html" %}
{% block title %}安吉高山白茶|首页{% endblock %}
{% block content %}
<div class="post">
	<h1>白茶介绍</h1>
	<p>作者 <a>张丹</a> <a href="#">bsspirit@gmail.com</a></p>
	<p><strong>白茶树</strong>原产地海拔800米左右，每年春茶幼嫩芽叶为白色，尤以一芽二叶开展时为最白，主脉呈绿色。 春茶成熟老叶由白逐渐转为白绿相间的花白色，夏秋茶均呈绿色。外形细秀，色绿润，香高持久，味鲜爽，不失为一种突出的创新名茶。 嫩叶洁白如玉，干茶翠绿金黄；入汤后，叶底玉白，主脉呈绿色，嫩香持久，滋味鲜醇，汤色鹅黄。</p>
	<p><img width="480px" src="{{url_for('static', filename='img/1.jpg')}}"/></p>
	<p>佳节送礼，探亲访友，首选之茶。。。</p>
	<p class="post-footer align-right">					
		<span class="date">2011年4月1日</span>	
	</p>
</div>

<div class="post">
	<h1>独特的白茶</h1>
	<p>作者 <a>张丹</a> <a href="#">bsspirit@gmail.com</a></p>
	<p>
		<p><strong>安吉白茶的最大特点</strong><br/>
		1. 富含氨基酸：安吉白茶因其氨基酸含量高出一般茶一倍，为6.19%—6.92%，茶多酚10.7%。<br/>
		2. 口感特点：中国茶可分六大类：绿茶、红茶、青茶、白茶、黄茶、黑茶，安吉白茶虽名为白茶，却属于绿茶类。因为它是白叶茶按照绿茶的方法制作而成的。新叶经过四五个小时的摊放，然后按照一定的温度和时间进行杀青。在这之后是整形理条，最后烘干，安吉白茶就全新出锅了。新的安吉白茶，冲泡以后，茎翠叶白，茶汤颜色鹅黄，香气鲜爽馥郁。
		</p>
		
		<p><strong>营养分析</strong><br/>
		安吉白茶的嫩茶氨基酸含量高达7%，最高达到10．6％，比其他绿茶高出3~4倍，而茶多酚含量又较低，故茶汤滋味鲜醇柔和，口感很好。
		</p>
		
		<p><strong>适合人群</strong><br/>
		老少咸宜，也可作为高档礼品赠送亲朋好友。
		</p>
		
		<p><strong>外形特点</strong><br/>
		成茶条索挺直扁平，似兰花，色绿翠，白毫显露，汤色清澈明亮，清香四溢，叶底芽叶肥壮，嫩绿明亮成朵。</p>
		</p>
		
		<p><img width="480px" src="{{url_for('static', filename='img/2.jpg')}}"/></p>
		<p>佳节送礼，探亲访友，首选之茶。。。</p>
		
	<p class="post-footer align-right">					
		<span class="date">2011年4月1日</span>	
	</p>
</div>	
{% endblock%}
