{% extends "layout.html" %}
{% block title %}安吉高山白茶|留言板{% endblock %}
{% block content %}
<div class="post">
	<h1>留言板</h1>
	<div class="msg-form">
		<form>
			<p>
			用户名:<input style="width:120px;" type="text" name="name" />&nbsp;&nbsp;&nbsp;&nbsp;
			E-mail:<input style="width:120px;" type="text" name="email" />
			</p>
			<p><textarea></textarea></p>
			<p><input type="submit" value="发布"/></p>
		</form>
	</div>
	
	<div class="msg">
		<p><b>张丹</b>&nbsp;&nbsp;<a>bsspirit@gmail.com</a></p>
		<p>白茶树原产地海拔800米左右，每年春茶幼嫩芽叶为白色，尤以一芽二叶开展时为最白，主脉呈绿色。 春茶成熟老叶由白逐渐转为白绿相间的花白色，夏秋茶均呈绿色。外形细秀，色绿润，香高持久，味鲜爽，不失为一种突出的创新名茶。 嫩叶洁白如玉，干茶翠绿金黄；入汤后，叶底玉白，主脉呈绿色，嫩香持久，滋味鲜醇，汤色鹅黄。</p>
		
		<p class="post-footer align-right">					
			<span class="date">2011-4-1</span>	
		</p>
	</div>
	
	<div class="msg">
		<p><b>张丹</b>&nbsp;&nbsp;<a>bsspirit@gmail.com</a>
		</p>
		<p>白茶树原产地海拔800米左右，每年春茶幼嫩芽叶为白色，尤以一芽二叶开展时为最白，主脉呈绿色。 春茶成熟老叶由白逐渐转为白绿相间的花白色，夏秋茶均呈绿色。外形细秀，色绿润，香高持久，味鲜爽，不失为一种突出的创新名茶。 嫩叶洁白如玉，干茶翠绿金黄；入汤后，叶底玉白，主脉呈绿色，嫩香持久，滋味鲜醇，汤色鹅黄。</p>

		<p class="post-footer align-right">					
			<span class="date">2011-4-1</span>	
		</p>
	</div>
	
	<div class="msg">
		<p><b>张丹</b>&nbsp;&nbsp;<a>bsspirit@gmail.com</a></p>
		<p>白茶树原产地海拔800米左右，每年春茶幼嫩芽叶为白色，尤以一芽二叶开展时为最白，主脉呈绿色。 春茶成熟老叶由白逐渐转为白绿相间的花白色，夏秋茶均呈绿色。外形细秀，色绿润，香高持久，味鲜爽，不失为一种突出的创新名茶。 嫩叶洁白如玉，干茶翠绿金黄；入汤后，叶底玉白，主脉呈绿色，嫩香持久，滋味鲜醇，汤色鹅黄。</p>

		<p class="post-footer align-right">					
			<span class="date">2011-4-1</span>	
		</p>
	</div>
</div>
{% endblock%}
