{% extends "layout.html" %}
{% block title %}安吉高山白茶|实景照片{% endblock %}
{% block content %}
<div class="post">
	<h1>实景照片</h1>
	<p>作者 <a>张丹</a> <a href="#">bsspirit@gmail.com</a></p>
	<p id="p1"><strong>海拔800米的茶山</strong></p>
	<p><img width="480px" src="http://1.100rmb.sinaapp.com/img/3.jpg" alt="安吉高山白茶" title="海拔800米的茶山"/></p>
	
	<p id="p2"><strong>自家的千亩茶园</strong></p>
	<p><img width="480px" src="http://1.100rmb.sinaapp.com/img/4.jpg" alt="安吉高山白茶" title="自家的千亩茶园"/></p>
	
	<p id="p3"><strong>漂亮的采茶大姐</strong></p>
	<p><img width="480px" src="http://1.100rmb.sinaapp.com/img/5.jpg" alt="安吉高山白茶" title="漂亮的采茶大姐"/></p>
	
	<p id="p4"><strong>白茶树</strong></p>
	<p><img width="480px" src="http://1.100rmb.sinaapp.com/img/6.jpg" alt="安吉高山白茶" title="白茶树"/></p>
	
	<p id="p5"><strong>刚采的鲜茶</strong></p>
	<p><img width="480px" src="http://1.100rmb.sinaapp.com/img/1.jpg" alt="安吉高山白茶" title="刚采的鲜茶"/></p>
	
	<p id="p6"><strong>炒茶工房</strong></p>
	<p><img width="480px" src="http://1.100rmb.sinaapp.com/img/7.jpg" alt="安吉高山白茶" title="炒茶工房"/></p>
	
	<p id="p7"><strong>成品干茶</strong></p>
	<p><img width="480px" src="http://1.100rmb.sinaapp.com/img/8.jpg" alt="安吉高山白茶" title="成品干茶"/></p>
	
	<p id="p8"><strong>精品礼盒</strong></p>
	<p><img width="480px" src="http://1.100rmb.sinaapp.com/img/9.jpg" alt="安吉高山白茶" title="精品礼盒"/></p>
	
	<p class="post-footer align-right">					
		<span class="date">2011年4月15日</span>	
	</p>
</div>
{% endblock%}
