{% extends "layout.html" %}
{% block title %}龙仙山安吉白茶|白茶产品{% endblock %}
{% block content %}
<div class="product">
	<h1>龙仙山新茶/2011新茶叶正宗明前特级安吉白茶50克/罐</h1>
	
	<div class="summary">
		<div class="image">
			<img src="http://img02.taobaocdn.com/bao/uploaded/i2/T18FFpXjxaXXbeRQE._082847.jpg_310x310.jpg" width="310"/>
		</div>
		<div class="property">
			<ul>
				<li>价格:&nbsp;&nbsp;<span class="price">85.00</span>&nbsp;&nbsp;元
				<li>净含量：&nbsp;&nbsp;50g</li>
				<li>运费：&nbsp;&nbsp;快递: 15.00元 EMS: 25.00元</li>
	  			<li>所在地区：&nbsp;&nbsp;浙江安吉</li>
				<li>浏览次数：&nbsp;&nbsp;49次</li>
			</ul>
			<div class="order">
				<a href="#">支付宝购买</a>
			</div>
		</div>
		
		
		<div class="clear"></div>
	</div>
	
	<div class="attributes">
 		<ul>
			<!--
			<li>生产许可证编号：</li>
			<li>卫生许可证编号：浙安卫字200500958</li>
			<li>产品标准号：GB/T20354-2006</li>
			-->
			<li>厂名：龙仙山安吉茶园</li>
			<li>厂址：浙江安吉杭垓镇缫舍村毛田坞16号</li>
			<li>厂家联系方式：18611314197</li>
			<li>配料表：无</li>
			<li>净含量(g)：250</li>
			<li>储藏方法：冷藏</li>
			<li>产地：浙江安吉</li>
			<li>保质期：12个月</li>
			<li>食品添加剂：纯青叶炒制</li>
		    <li>包装方式:&nbsp;包装</li>
		    <li>品牌:&nbsp;龙仙山安吉白茶</li>
		    <li>系列:&nbsp;凤型</li>
		    <li>重量(g):&nbsp;250</li>
		    <li>白茶种类:&nbsp;其它白茶</li>
		    <li>茶叶等级:&nbsp;一级</li>
		    <li>茶叶生长季节:&nbsp;春茶</li>
		    <li>茶叶净含量:&nbsp;250克</li>
		    <li>按茶叶产地选择:&nbsp;浙江安吉</li>
		    <li>是否为有机食品:&nbsp;是</li>  
		</ul>
		<div class="clear"></div>
	</div>
	
	<h2>2011年新茶</h2>
	<p>安吉白茶2011年新茶，是集观赏、保健、品饮于一身的茶叶。其氨基酸含量属绿茶中最高，保健功效显著。茶多酚含量较低，所以滋味鲜醇，清润甘爽、苦涩味很轻。它外形细秀，形如兰花。</p>
	<p>安吉白茶御品包装礼盒，中式韵味非常，设计儒雅、清新。经典鲜醇御茶，优美山水国画，带您品味国粹。此款礼盒的中国风设计，迎合了热衷中国传统文化的茶客和优雅复古人士们的视觉需求。同时，该礼盒也衬托了送礼人的文化内涵和独到的眼光。</p>
	
	<p class="intro">
		<img width="650px" src="http://1.100rmb.sinaapp.com/intro/1_645.jpg"/>
		<img width="650px" src="http://1.100rmb.sinaapp.com/intro/2_645.jpg"/>
		<img width="650px" src="http://1.100rmb.sinaapp.com/intro/6_645.jpg"/>
		<img width="650px" src="http://1.100rmb.sinaapp.com/intro/4_645.jpg"/>
		<img width="650px" src="http://1.100rmb.sinaapp.com/intro/5_645.jpg"/>
	</p>
	

</div>
{% endblock%}
