{% extends "layout.html" %}
{% block title %}龙仙山安吉白茶|{{wiki.title}}{% endblock %}
{% block content %}
<div class="post">
	<h1><a href="/wiki">白茶知识库</a> - {{wiki.title}}</h1>
	<p>{{wiki.name}}&nbsp;<a href="#">{{wiki.email}}</a></p>
	<p>{%if wiki.repost%}原文地址: <a href="{{wiki.repost}}" title="{{wiki.title}}" alt="{{wiki.title}}">{{wiki.repost}}</a>{%endif%}</p>
	<p><img width="480px" src="{{wiki.image}}" alt="安吉高山白茶" title="安吉高山白茶"/></p>
	<p>{{wiki.content|safe}}</p>	
	<p class="post-footer align-right">					
		<span class="date">{{wiki.create_date}}</span>	
	</p>
</div>
{% endblock%}
